.note_label {
  background-color: var(--secondary-color);
  padding: var(--scale-sm) var(--scale-md);
  font-size: var(--scale-md);
  font-weight: 500;
  border-radius: var(--scale-md);
  cursor: default;
}
